*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:  62.5%;
}
body{
    margin-top: 6rem;
}
#header-sec{
    outline: black solid 0.1rem;
    margin-top: -6rem;
    height: 6rem;
    position: fixed;
    width: 100%;
    background-color: rgb(59, 67, 102);
    z-index: 10;
}
.header-logo{
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
}
.header-logo img{
    width: 4rem;
    height: 4rem;
}
.header-logo h1{
    font-size: 3rem;
    font-family: sans-serif;
    margin-left: 5rem;
    margin-top: -3.5rem;
}
.header-logo a{
    text-decoration: none;
    color: black;
}
.header-nav{
    margin: 0 auto;
    height: inherit;
}
.header-nav__lista{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: sans-serif;
    font-size: 1.6rem;
}
.header-nav__lista form{
    padding: 2rem;
    margin-right: 2rem;
}
.header-nav__lista li{
    padding: 2rem;
    margin-right: 2rem;
}
.header-nav__lista a{
    text-decoration: none;
    color: white;
}
.header-nav__lista li:hover{
    background: rgb(42, 197, 117);
    transition: 1.5s;
}
.header-nav__lista input{
    border-radius: 1rem;
    outline: none;
    font-family: sans-serif;
    font-size: 1.6rem;
}
.header-nav__lista input:hover{
    outline: rgb(42, 197, 117) 0.1rem;
}
.header-nav__lista input::placeholder{
    color: black;
    text-align: center;
}
.main-conten{
    padding: 4rem 2rem 2rem  2rem;
    width: 100%;
    height: 200rem;
    background-color: rgb(14, 16, 25);
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
}
.main-conten__box{
    position: relative;
    width: 100%;
    background-color: rgb(213, 213, 213);
    border: black solid 0.1rem;
    height: 100rem;
   
}.main-conten__box h1{
    padding-top: 1rem;
}
.main-conten__box-img{
    position: absolute;
    width: 30rem;
    height: 30rem;
    outline: black solid 0.1rem;
    margin: 4rem 2.6rem 4rem 4rem;
}
.uno{
    left: 36.4rem;
    z-index: 4;
}
.dos{
    left: 73rem;
    z-index: 3;
}
.tres{
    right: 38rem;
    z-index: 2;
}
.cuatro{
    right: 0rem;
    margin-right: 4rem;
    z-index: 1;
}
.cinco{
    top: 46rem;
}
.seis{
    top: 46rem;
    left: 36.4rem;
}
.siete{
    top: 46rem;
    left: 73rem;
}
.ocho{
    top: 46rem;
    right: 38rem;
}
.nueve{
    top: 46rem;
    right: 0rem;
    margin-right: 4rem;
}

